DECIDIM_APPLICATION_NAME=Metadecidim
DECIDIM_AVAILABLE_LOCALES=en,ca,es
DECIDIM_DEFAULT_LOCALE=ca
DECIDIM_ENABLE_HTML_HEADER_SNIPPETS=true
DECIDIM_MAILER_SENDER=no-reply@decidim.org
INITIATIVES_DO_NOT_REQUIRE_AUTHORIZATION=true
#MAPS_API_KEY=XXX
#MAPS_PROVIDER=here
