.main-nav__link a {
  @include breakpoint(medium) {
    padding: 0.75em 1em;
    font-size: .9rem;
  }

  @include breakpoint(large) {
    font-size: 1rem;
  }
}

.topbar__search {
  @include breakpoint(medium) {
    max-width: 120px;
  }

  @include breakpoint(large) {
    max-width: 220px;
  }
}
